<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Harvester</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
      }
    </style>
    <link href="/signIn.css" rel="stylesheet">
  </head>
  <body class="ap-interactive">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <article id="app" data-props="<%= JSON.stringify({ formType, formId, buttons }) %>">
    </article>
    <script src="/signIn.js"></script>
  </body>
</html>
