// Good
@font-face {
  font-family: "Good Regular";
    src: url("/assets/fonts/good/good_regular.woff2") format("woff2"), url("/assets/fonts/good/good_regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Good Regular Italic";
    src: url("/assets/fonts/good/good_regular_italic.woff2") format("woff2"), url("/assets/fonts/good/good_regular_italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Good Medium";
  src: url("/assets/fonts/good/good_medium.woff2") format("woff2"), url("/assets/fonts/good/good_medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Good Medium Italic";
  src: url("/assets/fonts/good/good_medium_italic.woff2") format("woff2"), url("/assets/fonts/good/good_medium_italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Good Bold";
  src: url("/assets/fonts/good/good_bold.woff2") format("woff2"), url("/assets/fonts/good/good_bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Good Bold Italic";
  src: url("/assets/fonts/good/good_bold_italic.woff2") format("woff2"), url("/assets/fonts/good/good_bold_italic.woff") format("woff");
  font-style: normal;
}

// Good Condensed
@font-face {
  font-family: "Good Cond Regular";
  src: url("/assets/fonts/good/good_cond_regular.woff2") format("woff2"), url("/assets/fonts/good/good_cond_regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Good Cond Regular Italic";
  src: url("/assets/fonts/good/good_cond_regular_italic.woff2") format("woff2"), url("/assets/fonts/good/good_cond_regular_italic.woff") format("woff");
  font-style: italic;
}

 @font-face {
  font-family: "Good Cond Medium";
  src: url("/assets/fonts/good/good_cond_medium.woff2") format("woff2"), url("/assets/fonts/good/good_cond_medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Good Cond Medium Italic";
  src: url("/assets/fonts/good/good_cond_medium_italic.woff2") format("woff2"), url("/assets/fonts/good/good_cond_medium_italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Good Cond Bold";
  src: url("/assets/fonts/good/good_cond_bold.woff2") format("woff2"), url("/assets/fonts/good/good_cond_bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Good Cond Bold Italic";
  src: url("/assets/fonts/good/good_cond_bold_italic.woff2") format("woff2"), url("/assets/fonts/good/good_cond_bold_italic.woff") format("woff");
  font-style: italic;
}

// Freight
@font-face {
  font-family: "Freight Text Book";
  src: url("/assets/fonts/freight/freight_text_book.woff2") format("woff2"), url("/assets/fonts/freight/freight_text_book.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Freight Text Book Italic";
  src: url("/assets/fonts/freight/freight_text_book_italic.woff2") format("woff2"), url("/assets/fonts/freight/freight_text_book_italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Freight Text Medium";
  src: url("/assets/fonts/freight/freight_text_medium.woff2") format("woff2"), url("/assets/fonts/freight/freight_text_medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Freight Text Medium Italic";
  src: url("/assets/fonts/freight/freight_text_medium_italic.woff2") format("woff2"), url("/assets/fonts/freight/freight_text_medium_italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Freight Text Bold";
  src: url("/assets/fonts/freight/freight_text_bold.woff2") format("woff2"), url("/assets/fonts/freight/freight_text_bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Freight Text Bold Italic";
  src: url("/assets/fonts/freight/freight_text_bold_italic.woff2") format("woff2"), url("/assets/fonts/freight/freight_text_bold_italic.woff") format("woff");
  font-style: italic;
}

.react-datepicker-wrapper {
  width: 100%;

  .react-datepicker__input-container {
    width: 100%;

    input {
      width: 100%;
      height: 2.1em;
      font-size: 0.9em;
      padding: 0;
      padding-left: 0.4em;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #ebebeb;
      font-family: inherit;

      &.editable {
        &:hover {
          border-color: #aaa;
        }
      }

      &.read-only {
        &:hover {
          border-color: #ebebeb;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
